/* general */

html {
    height: 100% !important;
}

body {
    background-color: #F5F5F5 !important;
    font-family: Oswald;
    font-weight: 400;
    height: 100%;
}

a {
    text-decoration: none !important; 
    color: #ff0000 !important;
}

a:hover{
        text-decoration: none!important;
        color: #ffffff!important;
}

h1 {
    font-size: 5rem;
}

.row {
    margin: 0px;
}

.col {
    padding: 0px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.off-padding {
    padding: 0px !important;
}

.override-a-defualt {
    color: #000 !important;
}


/*--------------------------- nav bar ----------------------- */
nav {
    background-color: #000;
    color: #F5F5F5;
    font-family: Oswald;
    font-weight: 200;
    padding: 0px !important;
    margin: 0px !important;
}

.navbar-toggler {
    padding: 0px;
    font-size: 1.25rem;
    background-color: #000;
    color: #F5F5F5 !important;
    border: none;
}

.nav-text>h1{
    color: #fd5949 !important;
}

/* logo */

/* home */

/* business info */

.hero-text{
    background-color: rgba(117, 117, 117, 0.15);
    height: 100%;
    width: 100%;
}

#business-info {
background-image: url(../images/consulting-img.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: right;
}

#business-info-text {
    width: 50%;
}

#home-hero-img {
    width: 100%;
}

#event-container{
    max-height: 200px;
}

.event-img{
    max-width: 100%;
}
/* lower homepage content */

.home-text-links>a{
    color: #000 !important;
}

/*----------------- footer --------------- */
footer {
    background-color: #000 !important;
    color: #fff !important;
    font-family: Oswald;
    font-weight: 200;
}

.social-media {
    font-size: 1.5rem;
    font-weight: 400;
}

#insta {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;        
  }

#facebook{
    color: #4267B2;
}

#email-footer-span{
    color: #F5F5F5;
}

/* media for devices smaller than tablets */
@media (max-width: 768px) {
     /* -------- nav -------- */
    
    /* -------- footer --------*/


 /* -------- index page -------- */
      
/* -------- details page -------- */

}

@media (max-width: 425px) {
    

/* -------- login -------- */

    
/* -------- checkout done  page -------- */
    
}

@media (max-width: 320px){

}